option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    EC2KeyName: YOUR-KEY-NAME
  
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NEXT_PUBLIC_DB_URL: http://localhost:8090
  
  aws:elasticbeanstalk:container:docker:
    Memory: 512

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300

  # Create an EFS volume for PocketBase data
  FileSystem:
    Type: AWS::EFS::FileSystem
    Properties:
      PerformanceMode: generalPurpose
      Encrypted: true
      
  MountTarget:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: !Ref FileSystem
      SubnetId: !Ref Subnet
      SecurityGroups:
        - !Ref SecurityGroup 